.nav {
    display: flex;
}

.item a {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    color: #2f76f9;
    transition: all 0.3s;
}

.item:not(:first-child) {
    margin-left: 60px;
}